<div class="large-4 columns">
  <%= form_for [@comment] do |f| %>
    <div class="field">
      <%= f.text_area :content, rows: 8 %>
    </div>
    <% if params[:album_id].present? %>
      <%= hidden_field_tag :commentable_class, "Photo" %>
    <% else %>
      <%= hidden_field_tag :commentable_class, "Album" %>
    <% end %>
    <%= hidden_field_tag :commentable_id, params[:id] %>

    <div class="actions">
      <%= f.submit "Create Comment", :class => "button small" %>
    </div>
  <% end %>
</div>