<h1><%= @user.email.split("@").first %>'s Albums</h1>

<% if @user.albums.length < 2 || @user.subscription != nil %>
  <%= link_to 'New Album', new_album_path %>
<% else %>
  To Add more Albums: <%= link_to 'Become a Premium User', new_subscription_path %>
<% end %>
<br>
<br>
<table>
  <tr>
    <th>Album Name</th>
    <th>Number of Photos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.name %> </td>
    <td><%= album.photos.length %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <!-- The destroy currently causes 2 pop-ups. Figure out why -->
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


