<p id="notice"><%= notice %></p>

<p>
  <b>Album Name:</b>
  <%= @album.name %>
  <p>Number of Photos: <%= @album.photos.length %></p>
</p>

<h5>Comments</h5>
<%= render "comments/comments" %>
<%= render "comments/form" %>

<%= link_to 'Add a Photo to Album', new_album_photo_path(@album) %>
<br>
<br>
<%= link_to 'Edit Album Name', edit_album_path(@album) %> |
<%= link_to 'Back to All Albums', albums_path %>

<hr>
<b>Photos:</b>
<div id="full_album">
  <div id="album_container">
    <% @album.photos.each do |photo| %>
      <p class="seat">
        <%= photo.name %>
        <a href="<%= album_photo_path(@album, photo) %>">
          <%= image_tag(photo.picture, alt: photo.name) %>
        </a>
      </p>
    <% end %>
  </div>
</div>


